@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
html{
  scroll-behavior:smooth;
}
* {
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*******Loading Page Start *****/
.loading {
    background-color: lightgrey;
    height: 2px;
    margin: 1em;
    overflow: hidden;
    position: fixed;
    width: 12em;
}
p{
  font-size:1em;
}
.loading-bar {
    animation: side2side 2s ease-in-out infinite;
    background-color: #f27822;
    height: 100%;
    position: fixed;
    width: 50%;
}

@keyframes side2side {
    0%, 100% { transform: translateX(-50%); }
    50%      { transform: translateX(150%); }
}

.center {
    left: 50%;
    margin: 0;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loader-image{
    left: 40%;
    margin: 0;
    position: fixed;
    top: 30%;
}
/**********Loading Page End*****************/
body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  position: relative;
   width:100%;
}

section {
  font-family: 'Poppins', sans-serif;
}

.Navbar{
  display: flex;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  padding-left: 5%;
  padding-top:-40px;
  padding-bottom: 40px; 
}
.nav--details{
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 50px;
}
.nav-wrapper {
  background-color: #fff;
  height: 100px;
  padding-top: -20px;
  width:100%;
  padding-bottom: 40px; 
}
.nav--details a{
  color:#000;
  text-decoration:none;
  font-size:1.2em;
}
.nav--details a:hover {
  color: #f27822;
  text-decoration:underline;
}

.nav--details a:active {
  color: #f27822;
  text-decoration:underline;
}
.logo {
  height: 80px;
  width: 160px;
}
.logo-link{
  text-decoration:none;
  height:100px;
  width:200px;
}
.header{
  width:100%;
}
.icon {
  display: none;
}

/* Slideshow container */
.slide {
  width: 100vw;
  height: 100vh;
  position: relative;
  opacity:.9;
}
#clear,
#clear-2,
#clear-3{
  display:none;
}
.slider {
  margin-bottom: 450px;
}
.Containers {
  position: absolute;
}

.orange-text {
  color: #f27822;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  word-spacing: 8px;
}

.nav--details a {
  font-size: 1.2em;
}

.nav--details a:hover {
  color: #f27822;
  text-decoration:underline;
}

.nav--details a:active {
  color: #f27822;
  text-decoration:underline;
}
#right {
  position: relative;
  bottom: -300px;
  right: -92%;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  color: #f27822;
}
#left {
  position: relative;
  bottom: -250px;
  right: -35px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  color: #f27822;
}

/* Caption Info */
.Info {
  color:#fff;
  text-shadow: .3px .3px 1px #000;
  font-size: 5em;
  position: relative;
  left:-220px;
  bottom: 550px;
  margin: 0 auto;
  width: 60%;
  line-height: 100px;
  font-weight: 700;
  text-align:left;
  font-family: 'Poppins', sans-serif;
  opacity: 2;
  text-transform:capitalize;
}
h1{
  text-transform:capitalize;
}
.minimised-1{
  width:48%;
}
.minimised{
  width:40%;
  left:-200px;
}
.reduced-text{
  margin:-30px;
  font-size:22px;
  padding-left:40px;
  font-weight:100;
}
.fade-in-bottom {
	-webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-7-26 1:8:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* The circles or bullets and indicators */
.dots {
  display: none;
}

.enable,
.dots:hover {
  background-color: #717161;
}
.background,
.solution {
  margin: 30px auto;
  width: 98%;
  height: 500px;
  font-family: 'Poppins', sans-serif;
}
.background{
  padding-top:60px;
}
.background-header,
.solution-header {
  text-align: center;
  font-size: 4em;
  font-weight: 700;
  padding-top: 150px;
}

.background-details {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.background-details:nth-last-child{
  margin-bottom:80px;
}
.background-details-text {
  width: 65%;
  margin-left: 60px;
}
.background-details-text h3{
  font-size:1.2em;
}
.background-text-expanded {
  margin-left: 0;
  margin-top: 0;
  padding-top: 0;
}

.background-text-expanded p {
  font-size: 1.2em;

}

.background-image-one {
  height: 350px;
  width: 350px;
}

.solution-header,
.blog-header {
  padding-top: 70px;
  font-size: 4em;
  font-weight: bold;
}

.solution-sub-header,
.blog-sub-header {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  font-size:1.1em;
}

.solution {
  margin-top: 860px;
  width: 100%;
  background-color: #F2E8E2;
  height: 700px;
}

.cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  width: 97%;
  padding-left: 20px;
}

.model-headers {
  font-weight: bold;
  font-size: 1.3em;
  color: #f27822;
}

.card {
  width: 23%;
  padding: 56px 16px 16px 16px;
  height:350px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  background-color: rgb(252, 249, 249);
  box-shadow: 3px 8px 6px 3px #b2b2b2;
  margin: 0 auto;
  text-align: left;
}
.card img{
  position:absolute;
  top:9%;
  left:5%;
}
.card h3{
  position:absolute;
  top:40%;
  left:5%;
  font-size:1.5em;
  line-height:25px;
}
.card p{
  position:absolute;
  top:60%;
  left:5%;
  font-size:.8em;
  right:7%;
}
.about-us {
  margin-top: -60px;
  background-image: url("./images/About-us-1.jpg");
  height: 600px;
  color: #fff;
  padding: 160px 100px;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
  }
  
  .about-us-header {
  font-weight: bold;
  font-size: 3.6em;
  text-align:center;
  }
  .about-us-text{
    position:absolute;
    left:18%;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding:30px 60px;
    top:24vh;
    width:60%;
    text-align:center;
    align-items:center;
  }
  .learn-more {
  background-color: #f27822;
  color: #fff;
  padding: 14px 28px;
  border-radius:7px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.7em;
  letter-spacing: 1px;
  border: none;
  }
  
  .learn-more:hover,
  .read-more:hover {
  color: #f27822;
  background-color: #fff;
  }
  
  .about-us-inner {
  width:95%;
  font-size:1.7em;
  text-align:center;
  }
  
.blog {
  height: 700px;
}

.blog-text {
  margin: 30px auto;
  text-align: center
}

.item-1 {
  grid-area: pic;
  width: 300px;
  height: 200px;
}

.date {
  grid-area: date;
}

.item-2 {
  grid-area: name;
  justify-self: center;
}

.item-3 {
  grid-area: title;
}

.read-more {
  grid-area: button;
  align-self: center;
  color: #f27822;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 1px;
  border: none;
  display: flex;
  justify-content: space-between;
  text-decoration:none;
}
.blog {
  height: 700px;
}

.blog-cards {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  gap: 30px;
  padding-top: 40px;
}

.blog-card {
  position: relative;
  display: grid;
  grid-template-columns: 150px 150px;
  row-gap: 10px;
  grid-template-rows: 200px 30px 50px 25px;
  grid-template-areas:
    "pic pic"
    "date name"
    "title title"
    "button .";
}

.article-heading-1,
.article-heading-2,
.article-heading-3 {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fd8d3c;
  border: none;
  color: #fff;
}

.article-heading-1 {
  position: absolute;
  left: 5%;
  top: 2.6%;
  z-index: 1;
}

.article-heading-2 {
  position: absolute;
  left: 5%;
  z-index: 1;
  top: 2.6%;
}
.article-heading-3 {
  position: absolute;
  left: 5%;
  z-index: 1;
  top: 2.6%;
}
footer {
  height: 120px;
  background-color: #191c21;
  color: #fff;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 570px;
  margin: 0 auto;
  padding-top: 25px;
}

.footer-items:hover {
  color: #fd8d3c;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-between;
  width: 10%;
  margin: 0 auto;
  padding-top: 25px;
}
.leave-a-message {
  position: fixed;
  left: 73.6%;
  top: 90%;
  width: 26vw;
  padding: 10px;
  text-align: left;
  background-color:#000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  font-size: 20px;
  color: white;
  /* transition */
  transition: top 1s;
  -webkit-transition: top 1s;
  margin: 0 auto;
  border-radius: 7px;
  height: 660px;
  z-index: 1;
}
.leave-a-message-icon{
    background-color: rgba(0, 0, 0, 0.9);
}
h4 {
  padding-top: 0;
  margin: 0;
  text-align: center;
  font-size: 1.3em;
}
label{
  padding-bottom:15px;
}
.leave-a-message:hover,
.leave-a-message:active {
  top: 30vh;
  scroll-behavior: smooth;
}

input {
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
  margin: 15px auto;
  width: 95%;
  padding: 4px 20px 0;
  height:45px;
}
.input:active{
  border:none;
}
.socials {
  background-color: #fff;
  border-radius: 50%;
  padding: 4px;
}

.socials:hover {
  background-color: #f27822;
}

.btn {
  background-color: #f27822;
  color: #fff;
  padding: 7px 36px;
  border-radius: 37px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 1px;
  border: none;
  margin-top: 13px;
}

textarea {
  border-radius: 7px;
  border: none;
  margin: 60px auto;
  width:95%
}

input::placeholder,
textarea::placeholder {
  padding: 4px 10px 0;
}
@media screen and (min-width:320px) and (max-width:425px) {
  .logo{
    height:50px;
    width:100px;
    padding-top:7px;
  }
  .center{
    top:3%;
  }
.loading,
.center{
  position:fixed;
  top:56%;
  left:55%;
}
.loader-image{
    left:15%;
    margin: 0;
    position: fixed;
    top: 37%;
}
.loading-bar {
    animation: side2side 2s ease-in-out infinite;
    background-color: #f27822;
    height: 100%;
    position: fixed;
    width: 50%;
}
  body {
    overflow-x:hidden;
  }
  body , 
  .slide{
    position:relative;
  }
  #myLinks {
    display: none;
    position:absolute;
    text-align:left;
    background-color:#191c21;
    height:170px;
    top:60px;
    left:0;
    z-index:1;
    width:100%;
  }
  .Navbar{
    padding-top:60px;
    overflow: hidden;
    position: relative;
    width:100%;
    height:300px;
  }
  .logo-wrapper{
    position:absolute;
    top:0;
  }
  .nav--details a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  border-bottom:1px solid white;
}
  .top-border{
    border-top:1px solid white;
  }
  /* .slide {
    width: 100vw;
    top:20vh;
    height: 50vh;
    object-fit:contain;
    opacity:.9;
  } */
   #clear,
   #clear-2,
   #clear-3{
    display:block;
    width: 100vw;
    top:20vh;
    height: 50vh;
    object-fit:contain;
    opacity:.9;
  }
  #blurred,
  #blurred-2,
  #blurred-3{
    display:none;
  } 
  .minimised-1{
    width:38%;
  }
  .minimised{
    width:70%;
    left:-200px;
  }
  .Info{
    position:relative;
    bottom:48vh;
    left:-2.5vw;
    font-size:2em;
    font-weight:700;
    line-height:34px;
    width:80%;
    color:#000;
  }
  .Containers{
    background-color: #e4e4e4;
    height:70vh;
    margin-top:-40px;
  }
  .header{
    padding-bottom:-20px;
  }
  .minimised .reduced-text,
  .minimised-1 .reduced-text{
    top:15vh;
  }
  .reduced-text{
    line-height:20px;
    font-size:.4em;
    position:absolute;
    left:-10px;
    top:24vh;
  }
  .push-down{
    top:25vh;
  }
  .push-up{
    bottom:48vh;
  }
  #right{
    position:relative;
    left:80vw;
    bottom:-34.5vh
  }
  #left{
    position:relative;
    left:5vw;
    bottom:-28vh;
  }
  .icon {
    display: block;
    position: absolute;
    right: 18px;
    top: 10px;
  }
  .cards-wrapper,
  .blog-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .card {
    width: 94%;
    margin-bottom: 30px;
  }

  .background {
    margin: -90px auto 1000px auto;
    font-family: 'Poppins', sans-serif;
    text-align:center;
  }
  .hidden-text{
    display:none;
  }
  .background-header,
  .solution-header {
    text-align: center;
    font-size: 4em;
    font-weight: 700;
  }

  .background-details {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .background-details-text {
    width: 90%;
    margin: 10px auto;
    order: 2;
  }

  .background-text-expanded {
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
  }
  .background-details-text h1{
    font-size:1.3em;
  }
  .background-text-expanded p,
  .background-details-text h3{
    font-size: 1.1em;
  }

  .background-image-one {
    height: 150px;
    width: 150px;
  }

  .flex-img {
    order: 1;
  }
  .solution {
    margin: 0 auto;
    background-color: #F2E8E2;
    padding-bottom:2000px;
  }
  .about-us {
    margin-top: -60px;
    background-image: url("./images/About-us-1-transformed.jpeg");
    height: 600px;
    color: #fff;
    padding: 160px 100px;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    background-position:left;
    }
    
    .about-us-header {
    font-weight: bold;
    font-size: 1.4em;
    text-align:center;
    }
    .about-us-text{
      position:absolute;
      left:6%;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      padding:30px 60px;
      top:23vh;
      width:90%;
      text-align:center;
      align-items:center;
    }
    .learn-more {
    background-color: #f27822;
    color: #fff;
    padding: 7px 14px;
    border-radius:7px;
    cursor: pointer;
    margin-top: 30px;
    font-size: .7em;
    letter-spacing: 1px;
    border: none;
    }
    
    .learn-more:hover,
    .read-more:hover {
    color: #f27822;
    background-color: #fff;
    }
    
    .about-us-inner {
    width:95%;
    font-size:1em;
    text-align:center;
    }
  .blog{
    margin:10px auto 880px auto;
    align-items:center
  }
  .blog-header,
  .solution-header,
  .background-header{
    font-size:2.3em;
  }
  .blog-sub-header,
  .solution-sub-header{
    font-size:1.1em
  }
  .blog-cards{
    margin:0 auto;
  }
  .blog-card{
    padding-bottom:30px;

  }
  .footer-link-wrapper{
    width:30%;
    margin-bottom:20px;
  }
  footer{
    height:170px;
  }
  .footer-wrapper{
    width:90%;
    flex-wrap:wrap;
    justify-items:center;
  }.footer-wrapper p{
    font-size:.78em;
    text-align:center;
    padding-right:3px;
  }
  label{
    margin-bottom:20px;
  }
  textarea{
    width:95%;
  }
  .leave-a-message{
    left:15%;
    width:80%;
    top:93vh;
  }
  .leave-a-message:hover, 
  .leave-a-message:active{
    top:30vh;
  }
}
@media screen and (min-width:426px) and (max-width: 768px){ 
.loading,
.center{
  position:fixed;
  top:46%;
  left:55%;
}
.loader-image{
    left:35%;
    margin: 0;
    position:fixed;
    top: 31%;
}
.loading-bar {
    animation: side2side 2s ease-in-out infinite;
    background-color: #f27822;
    height: 100%;
    position: fixed;
    width: 50%;
}
  .logo{
    height:50px;
    width:100px;
  }
  body {
    overflow-x:hidden;
  }
  body , 
  .slide{
    position:relative;
  }
  .slide{
    height:70vh;
    margin-top:-40px;
  }
  .Info{
    position:absolute;
    bottom:35vh;
    left:15vw;
    font-size:2.3em;
    line-height:49px;
  }
  .reduced-text{
    position:absolute;
    top:17vh;
    font-size: .5em;
    left:-10px;
    text-align: left;
  }
  .slider{
    padding-bottom:60px;
  }
  #myLinks {
    display: none;
    position:absolute;
    text-align:leftt;
    background-color:#191c21;
    height:170px;
    top:60px;
    left:0;
    z-index:1;
    width:100%;
  }
  .Navbar {
    overflow: hidden;
    position: relative;
    width:100%;
    height:300px;
  }
  .logo-wrapper{
    position:absolute;
    top:0;
  }
  .nav--details a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  border-bottom:1px solid white;
}
  .top-border{
    border-top:1px solid white;
  }
    .icon {
    display: block;
    position: absolute;
    right: 18px;
    top: 20px;
  }
  .slider{
    padding-bottom:30px;
  }
  #right{
    right:-85vw;
  }
  .background{
    padding-top:100px;
    padding-bottom:400px;
    margin:0 auto 360px auto;
    height:800px;
  }
  .background-details-text h1{
    font-size:1.7em;
  }
  .background-text-expanded p,
  .background-details-text h3{
    font-size: 1.3em;
  }
  .background-details{
    padding-bottom:140px
  }
  .background-image-one {
    height: 150px;
    width: 150px;
  }
  .cards-wrapper{
    flex-wrap:wrap;
  }
  .card {
    width:48%;
    margin-bottom: 30px;
  }
  .solution{
    margin-top:1100px;
    padding-bottom:1200px;
  }
  
.about-us {
  margin-top: -60px;
  background-image: url("./images/About-us-1.jpg");
  height: 600px;
  color: #fff;
  padding: 160px 100px;
  background-size: contain;
  background-repeat: no-repeat;
  position:relative;
  }
  
  .about-us-header {
  font-weight: bold;
  font-size: 2.3em;
  text-align:center;
  }
  .about-us-text{
    position:absolute;
    left:18%;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding:30px 60px;
    top:4vh;
    width:60%;
    text-align:center;
    align-items:center;
  }
  .learn-more {
  background-color: #f27822;
  color: #fff;
  padding: 14px 28px;
  border-radius: 37px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1em;
  letter-spacing: 1px;
  border: none;
  }
  
  .learn-more:hover,
  .read-more:hover {
  color: #f27822;
  background-color: #fff;
  }
  
  .about-us-inner {
  width:95%;
  font-size:1em;
  text-align:center;
  }
  
  .blog{
    margin-bottom:1200px;
  }
  .blog-card {
  position: relative;
  display: grid;
  grid-template-columns: 250px 250px;
  row-gap: 10px;
  grid-template-rows: 300px 30px 50px 25px;
  grid-template-areas:
    "pic pic"
    "date name"
    "title title"
    "button .";
}
  .blog-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center
  }
  .item-1 {
  grid-area: pic;
  width:500px;
  height:300px;
  align-self:center;
  }
  .footer-link-wrapper{
    width:25%;
    margin-bottom:20px;
  }
  footer{
    height:170px;
  }
  .footer-wrapper{
    width:70%;
    flex-wrap:wrap;
    justify-items:center;
  }.footer-wrapper p{
    font-size:1em;
    text-align:center;
    padding-right:3px;
  }
  .leave-a-message{
    left:15%;
    width:80%;
    top:95vh;
  }
  input, textarea{
    width:95%;
  }
  .leave-a-message:hover, 
  .leave-a-message:active{
    top:40vh;
  }
}
@media screen and (min-width:900px) and (max-width:1440px){
/*******Loading Page Start *****/
.loading {
  background-color: lightgrey;
  height: 2px;
  margin: 1em;
  overflow: hidden;
  position: fixed;
  width: 12em;
}
p{
font-size:1em;
}
.loading-bar {
  animation: side2side 2s ease-in-out infinite;
  background-color: #f27822;
  height: 100%;
  position: fixed;
  width: 50%;
}

@keyframes side2side {
  0%, 100% { transform: translateX(-50%); }
  50%      { transform: translateX(150%); }
}

.center {
  left: 50%;
  margin: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loader-image{
  left: 40%;
  margin: 0;
  position: fixed;
  top: 30%;
}
/**********Loading Page End*****************/
body {
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
position: relative;
 width:100%;
}

section {
font-family: 'Poppins', sans-serif;
}

.Navbar{
display: flex;
justify-content: space-between;
width: 95%;
align-items: center;
padding-left: 5%;
padding-top:-40px;
padding-bottom: 20px; 
}
.nav--details{
display: flex;
justify-content: space-between;
list-style: none;
gap: 50px;
}
.nav-wrapper {
background-color: #fff;
height: 100px;
padding-top: -20px;
width:100%;
padding-bottom: 40px; 
}
.nav--details a{
color:#000;
text-decoration:none;
font-size:1.2em;
}
.nav--details a:hover {
color: #f27822;
text-decoration:underline;
}

.nav--details a:active {
color: #f27822;
text-decoration:underline;
}
.logo {
  height: 80px;
  width: 160px;
}
.logo-link{
text-decoration:none;
height:100px;
width:200px;
}
.header{
width:100%;
}
.icon {
display: none;
}

/* Slideshow container */
.slide {
width: 100vw;
height: 60vh;
position: relative;
opacity:.9;
object-fit: cover;
}

.slider {
margin-bottom: 450px;
}

.Containers {
position: absolute;
}

.orange-text {
color: #f27822;
font-family: 'Poppins', sans-serif;
font-weight: bold;
word-spacing: 8px;
}

.nav--details a {
font-size: 1.2em;
}

.nav--details a:hover {
color: #f27822;
text-decoration:underline;
}

.nav--details a:active {
color: #f27822;
text-decoration:underline;
}
#right {
position: relative;
bottom: -300px;
right: -92%;
cursor: pointer;
background-color: #fff;
border-radius: 50%;
padding: 10px;
color: #f27822;
}
#left {
position: relative;
bottom: -257px;
right: -35px;
cursor: pointer;
background-color: #fff;
border-radius: 50%;
padding: 10px;
color: #f27822;
}

/* Caption Info */
.Info {
color:#fff;
text-shadow: .3px .3px 1px #000;
font-size: 3.7em;
position: relative;
left:-140px;
bottom: 550px;
margin: 0 auto;
bottom:49vh;
width: 60%;
line-height: 90px;
font-weight: 700;
text-align:left;
font-family: 'Poppins', sans-serif;
opacity: 2;
text-transform:capitalize;
}
h1{
text-transform:capitalize;
}
.minimised-1{
width:48%;
}
.minimised-1 .reduced-text{
  top:32vh;
}
.minimised{
  position:absolute;
width:40%;
left:150px;
top:25%;
}
.minimised .reduced-text{
  position:absolute;
  top:34vh;
  font-size:22px;
  padding-left:20px;
  font-weight:100;
}
.fade-in-bottom {
-webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
* Generated by Animista on 2023-7-26 1:8:12
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation fade-in-bottom
* ----------------------------------------
*/
@-webkit-keyframes fade-in-bottom {
0% {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
}
@keyframes fade-in-bottom {
0% {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
}

/* The circles or bullets and indicators */
.dots {
display: none;
}

.enable,
.dots:hover {
background-color: #717161;
}
.background,
.solution {
margin: 30px auto;
width: 98%;
height: 500px;
font-family: 'Poppins', sans-serif;
}
.background{
  padding-top:120px;
}
.background-header,
.solution-header {
text-align: center;
font-size: 4em;
font-weight: 700;
padding-top: 150px;
}

.background-details {
display: flex;
width: 100%;
justify-content: space-around;
align-items: center;
align-content: center;
}
.background-details-text {
width: 65%;
margin-left: 60px;
}
.background-details-text h3{
font-size:1.2em;
}
.background-text-expanded {
margin-left: 0;
margin-top: 0;
padding-top: 0;
}

.background-text-expanded p {
font-size: 1.2em;

}

.background-image-one {
height: 350px;
width: 350px;
}

.solution-header,
.blog-header {
padding-top: 70px;
font-size: 4em;
font-weight: bold;
}

.solution-sub-header,
.blog-sub-header {
text-align: center;
width: 70%;
margin: 0 auto;
font-size:1.1em;
}

.solution {
margin-top: 860px;
width: 100%;
background-color: #F2E8E2;
height: 1300px;
}
.cards-wrapper{
  flex-wrap:wrap;
}
.card {
  width:48%;
  margin-bottom: 30px;
}
.solution{
  margin-top:1100px;
  padding-bottom:1200px;
}
.about-us {
margin-top: -60px;
background-image: url("./images/About-us-1.jpg");
height: 600px;
color: #fff;
padding: 160px 100px;
background-size: cover;
background-repeat: no-repeat;
position:relative;
}

.about-us-header {
font-weight: bold;
font-size: 4em;
text-align:center;
}
.about-us-text{
  position:absolute;
  left:13%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding:60px 170px;
  top:6vh;
  width:80%;
  text-align:center;
  align-items:center;
}
.learn-more {
background-color: #f27822;
color: #fff;
padding: 14px 28px;
border-radius: 37px;
cursor: pointer;
margin-top: 30px;
font-size: 1em;
letter-spacing: 1px;
border: none;
}

.learn-more:hover,
.read-more:hover {
color: #f27822;
background-color: #fff;
}

.about-us-inner {
width:95%;
font-size:1.5em;
text-align:center;
padding-left:60px;
}

.blog {
height: 700px;
}

.blog-text {
margin: 30px auto;
text-align: center;
}

.item-1 {
grid-area: pic;
width: 300px;
height: 200px;
}

.date {
grid-area: date;
}

.item-2 {
grid-area: name;
justify-self: center;
}

.item-3 {
grid-area: title;
}

.read-more {
grid-area: button;
align-self: center;
color: #f27822;
cursor: pointer;
font-size: 1em;
letter-spacing: 1px;
border: none;
display: flex;
justify-content: space-between;
text-decoration:none;
}
.blog {
height: 700px;
}

.blog-cards {
display: flex;
justify-content: space-between;
width: 70%;
margin: 0 auto;
gap: 30px;
padding-top: 40px;
}

.blog-card {
position: relative;
display: grid;
grid-template-columns: 150px 150px;
row-gap: 10px;
grid-template-rows: 200px 30px 50px 25px;
grid-template-areas:
  "pic pic"
  "date name"
  "title title"
  "button .";
}

.article-heading-1,
.article-heading-2,
.article-heading-3 {
padding: 10px 20px;
border-radius: 5px;
background-color: #fd8d3c;
border: none;
color: #fff;
}

.article-heading-1 {
position: absolute;
left: 5%;
top: 2.6%;
z-index: 1;
}

.article-heading-2 {
position: absolute;
left: 5%;
z-index: 1;
top: 2.6%;
}
.article-heading-3 {
position: absolute;
left: 5%;
z-index: 1;
top: 2.6%;
}
footer {
height: 120px;
background-color: #191c21;
color: #fff;
}

.footer-wrapper {
display: flex;
justify-content: space-between;
width: 570px;
margin: 0 auto;
padding-top: 25px;
}

.footer-items:hover {
color: #fd8d3c;
}

.footer-link-wrapper {
display: flex;
justify-content: space-between;
width: 10%;
margin: 0 auto;
padding-top: 25px;
}
.leave-a-message {
position: fixed;
left: 73.6%;
top: 90%;
width: 26vw;
padding: 10px;
text-align: left;
background-color:#000;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
font-size: 20px;
color: white;
/* transition */
transition: top 1s;
-webkit-transition: top 1s;
margin: 0 auto;
border-radius: 7px;
height: 660px;
z-index: 1;
}
.leave-a-message-icon{
  background-color: rgba(0, 0, 0, 0.9);
}
h4 {
padding-top: 0;
margin: 0;
text-align: center;
font-size: 1.3em;
}

.leave-a-message:hover,
.leave-a-message:active {
top: 30vh;
scroll-behavior: smooth;
}

input {
border: none;
border-radius: 7px;
margin: 15px auto;
width: 95%;
padding: 4px 20px 0;
height:45px;
}

.socials {
background-color: #fff;
border-radius: 50%;
padding: 4px;
}

.socials:hover {
background-color: #f27822;
}
.btn {
background-color: #f27822;
color: #fff;
padding: 7px 36px;
border-radius: 37px;
cursor: pointer;
font-size: 1em;
letter-spacing: 1px;
border: none;
margin-top: 13px;
}

textarea {
border-radius: 7px;
border: none;
margin: 15px auto;
width:95%
}

input::placeholder,
textarea::placeholder {
padding: 4px 10px 0;
}
}
@media screen and (min-width:1441px){
  /*******Loading Page Start *****/
.loading {
  background-color: lightgrey;
  height: 2px;
  margin: 1em;
  overflow: hidden;
  position: fixed;
  width: 12em;
}
p{
font-size:1em;
}
.loading-bar {
  animation: side2side 2s ease-in-out infinite;
  background-color: #f27822;
  height: 100%;
  position: fixed;
  width: 50%;
}

@keyframes side2side {
  0%, 100% { transform: translateX(-50%); }
  50%      { transform: translateX(150%); }
}

.center {
  left: 50%;
  margin: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loader-image{
  left: 40%;
  margin: 0;
  position: fixed;
  top: 30%;
}
/**********Loading Page End*****************/
body {
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
position: relative;
 width:100%;
}

section {
font-family: 'Poppins', sans-serif;
}

.Navbar{
display: flex;
justify-content: space-between;
width: 95%;
align-items: center;
padding-left: 5%;
padding-top:-40px;
padding-bottom: 40px; 
}
.nav--details{
display: flex;
justify-content: space-between;
list-style: none;
gap: 50px;
}
.nav-wrapper {
background-color: #fff;
height: 100px;
padding-top: -20px;
width:100%;
padding-bottom: 40px; 
}
.nav--details a{
color:#000;
text-decoration:none;
font-size:1.2em;
}
.nav--details a:hover {
color: #f27822;
text-decoration:underline;
}

.nav--details a:active {
color: #f27822;
text-decoration:underline;
}
.logo {
height: 80px;
width: 160px;
}
.logo-link{
text-decoration:none;
height:100px;
width:200px;
}
.header{
width:100%;
}
.icon {
display: none;
}

/* Slideshow container */
.slide {
width: 100vw;
height: 100vh;
position: relative;
opacity:.9;
}

.slider {
margin-bottom: 450px;
}

.Containers {
position: absolute;
}

.orange-text {
color: #f27822;
font-family: 'Poppins', sans-serif;
font-weight: bold;
word-spacing: 8px;
}

.nav--details a {
font-size: 1.2em;
}

.nav--details a:hover {
color: #f27822;
text-decoration:underline;
}

.nav--details a:active {
color: #f27822;
text-decoration:underline;
}
#right {
position: relative;
bottom: -300px;
right: -92%;
cursor: pointer;
background-color: #fff;
border-radius: 50%;
padding: 10px;
color: #f27822;
}
#left {
position: relative;
bottom: -250px;
right: -35px;
cursor: pointer;
background-color: #fff;
border-radius: 50%;
padding: 10px;
color: #f27822;
}

/* Caption Info */
.Info {
color:#fff;
text-shadow: .3px .3px 1px #000;
font-size: 5em;
position: relative;
left:-220px;
bottom: 550px;
margin: 0 auto;
width: 60%;
line-height: 100px;
font-weight: 700;
text-align:left;
font-family: 'Poppins', sans-serif;
opacity: 2;
text-transform:capitalize;
}
h1{
text-transform:capitalize;
}
.minimised-1{
width:48%;
}
.minimised{
width:40%;
left:-200px;
}
.reduced-text{
margin:-30px;
font-size:22px;
padding-left:40px;
font-weight:100;
}
.fade-in-bottom {
-webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
* Generated by Animista on 2023-7-26 1:8:12
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation fade-in-bottom
* ----------------------------------------
*/
@-webkit-keyframes fade-in-bottom {
0% {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
}
@keyframes fade-in-bottom {
0% {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
}
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
}

/* The circles or bullets and indicators */
.dots {
display: none;
}

.enable,
.dots:hover {
background-color: #717161;
}
.background,
.solution {
margin: 150px auto;
width: 98%;
height: 500px;
font-family: 'Poppins', sans-serif;
}

.background-header,
.solution-header {
text-align: center;
font-size: 4em;
font-weight: 700;
padding-top: 150px;
}

.background-details {
display: flex;
width: 100%;
justify-content: space-around;
align-items: center;
align-content: center;
}
.background-details:nth-last-child{
margin-bottom:80px;
}
.background-details-text {
width: 65%;
margin-left: 60px;
}
.background-details-text h3{
font-size:1.2em;
}
.background-text-expanded {
margin-left: 0;
margin-top: 0;
padding-top: 0;
}

.background-text-expanded p {
font-size: 1.2em;

}

.background-image-one {
height: 350px;
width: 350px;
}

.solution-header,
.blog-header {
padding-top: 70px;
font-size: 4em;
font-weight: bold;
}

.solution-sub-header,
.blog-sub-header {
text-align: center;
width: 70%;
margin: 0 auto;
font-size:1.1em;
}

.solution {
margin-top: 860px;
width: 100%;
background-color: #F2E8E2;
height: 700px;
}

.cards-wrapper {
display: flex;
justify-content: space-between;
flex-direction: row;
gap: 10px;
width: 97%;
padding-left: 20px;
}

.model-headers {
font-weight: bold;
font-size: 1.3em;
color: #f27822;
}

.card {
width: 23%;
padding: 56px 16px 16px 16px;
height:350px;
border-radius: 10px;
cursor: pointer;
position: relative;
background-color: rgb(252, 249, 249);
box-shadow: 3px 8px 6px 3px #b2b2b2;
margin: 0 auto;
text-align: left;
}
.card img{
position:absolute;
top:9%;
left:5%;
}
.card h3{
position:absolute;
top:40%;
left:5%;
font-size:1.5em;
line-height:25px;
}
.card p{
position:absolute;
top:60%;
left:5%;
font-size:.8em;
right:7%;
}
.about-us {
margin-top: -150px;
background-image: url("./images/About-us-1.jpg");
height: 600px;
color: #fff;
padding: 160px 100px;
background-size: cover;
background-repeat: no-repeat;
position:relative;
}

.about-us-header {
font-weight: bold;
font-size: 3.6em;
text-align:center;
}
.about-us-text{
  position:absolute;
  left:18%;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  padding:30px 60px;
  top:24vh;
  width:60%;
  text-align:center;
  align-items:center;
}
.learn-more {
background-color: #f27822;
color: #fff;
padding: 14px 28px;
border-radius:7px;
cursor: pointer;
margin-top: 30px;
font-size: 1.7em;
letter-spacing: 1px;
border: none;
}

.learn-more:hover,
.read-more:hover {
color: #f27822;
background-color: #fff;
}

.about-us-inner {
width:95%;
font-size:1.7em;
text-align:center;
}

.blog {
height: 700px;
}

.blog-text {
margin: 30px auto;
text-align: center
}

.item-1 {
grid-area: pic;
width: 300px;
height: 200px;
}

.date {
grid-area: date;
}

.item-2 {
grid-area: name;
justify-self: center;
}

.item-3 {
grid-area: title;
}

.read-more {
grid-area: button;
align-self: center;
color: #f27822;
cursor: pointer;
font-size: 1em;
letter-spacing: 1px;
border: none;
display: flex;
justify-content: space-between;
text-decoration:none;
}
.blog {
height: 700px;
}

.blog-cards {
display: flex;
justify-content: space-between;
width: 70%;
margin: 0 auto;
gap: 30px;
padding-top: 40px;
}

.blog-card {
position: relative;
display: grid;
grid-template-columns: 150px 150px;
row-gap: 10px;
grid-template-rows: 200px 30px 50px 25px;
grid-template-areas:
  "pic pic"
  "date name"
  "title title"
  "button .";
}

.article-heading-1,
.article-heading-2,
.article-heading-3 {
padding: 10px 20px;
border-radius: 5px;
background-color: #fd8d3c;
border: none;
color: #fff;
}

.article-heading-1 {
position: absolute;
left: 5%;
top: 2.6%;
z-index: 1;
}

.article-heading-2 {
position: absolute;
left: 5%;
z-index: 1;
top: 2.6%;
}
.article-heading-3 {
position: absolute;
left: 5%;
z-index: 1;
top: 2.6%;
}
footer {
height: 120px;
background-color: #191c21;
color: #fff;
}

.footer-wrapper {
display: flex;
justify-content: space-between;
width: 570px;
margin: 0 auto;
padding-top: 25px;
}

.footer-items:hover {
color: #fd8d3c;
}

.footer-link-wrapper {
display: flex;
justify-content: space-between;
width: 10%;
margin: 0 auto;
padding-top: 25px;
}
.leave-a-message {
position: fixed;
left: 73.6%;
top: 90%;
width: 26vw;
padding: 10px;
text-align: left;
background-color:#000;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
font-size: 20px;
color: white;
/* transition */
transition: top 1s;
-webkit-transition: top 1s;
margin: 0 auto;
border-radius: 7px;
height: 660px;
z-index: 1;
}
.leave-a-message-icon{
  background-color: rgba(0, 0, 0, 0.9);
}
h4 {
padding-top: 0;
margin: 0;
text-align: center;
font-size: 1.3em;
}

.leave-a-message:hover,
.leave-a-message:active {
top: 30vh;
scroll-behavior: smooth;
}

  input {
    border-radius: 12px;
    border: none;
    box-sizing: border-box;
    margin: 15px auto;
    width: 95%;
    padding: 4px 10px 0;
    height:45px;
  }
  .input:active{
    border:none;
  }

.socials {
background-color: #fff;
border-radius: 50%;
padding: 4px;
}

.socials:hover {
background-color: #f27822;
}

.btn {
background-color: #f27822;
color: #fff;
padding: 7px 36px;
border-radius: 37px;
cursor: pointer;
font-size: 1em;
letter-spacing: 1px;
border: none;
margin-top: 13px;
}

textarea {
border-radius: 7px;
border: none;
margin: 15px auto;
width:95%;
padding: 4px 10px 0;
}

input::placeholder,
textarea::placeholder {
padding: 4px 10px 0;
}
}